<div class="container is-flex is-align-items-center is-justify-content-center">
  <% if flash.now[:alert] %>
    <div class="notification is-danger">
      <%= flash.now[:alert] %>
    </div>
  <% end %>

  <div class="container my-custom-container">
    <%= form_with(model: [@category, @task], url: category_task_path(@category, @task), local: true, method: :patch, scope: 'task') do |form| %>
      <div class="field">
        <%= form.label :name, class: "label" %>
        <div class="control">
          <%= form.text_field :name, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :description, class: "label" %>
        <div class="control">
          <%= form.text_area :description, class: "textarea" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :due_date, class: "label" %>
        <div class="control">
          <%= form.date_field :due_date, class: "input" %>
        </div>
      </div>
      <!-- Add more fields as needed -->

      <div class="field is-grouped">
        <div class="control">
          <%= form.submit 'Update Task', class: "button is-primary" %>
        </div>
        <div class="control">
          <%= link_to 'Back', category_path(@category), class: 'button is-secondary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
