<!-- app/views/categories/show.html.erb -->
<section class="section">
  <div class="container is-justify-content-center is-align-items-center">
    <div class="my-custom-container is-primary">
      <h1 class="titleTasks"><%= @category.name %></h1>
      <%= link_to 'Add New Task', new_category_task_path(@category), class: "button is-success is-small" %>

      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @category.tasks.each do |task| %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.description %></td>
              <td><%= task.due_date.strftime('%Y-%m-%d') if task.due_date %></td>
              <td>
                <%= link_to 'Edit', edit_category_task_path(@category, task), class: "button is-warning is-small" %>
                <%= button_to 'Delete', category_task_path(@category, task), method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger is-small" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="CategoryButtons">
        <%= link_to 'Edit Journal', edit_category_path(@category), class: "button is-link is-small" %>
        <%= button_to 'Delete Journal', @category, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-link is-small" %>
        <%= link_to 'Back to Journal', categories_path, class: "button is-link is-small" %>
      </div>
    </div>
  </div>
</section>
